<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicios</title>
    <link rel="stylesheet" href="../css/_css-Default.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/_css-exercicios.css">
</head>
<script src="../js/_js-autenticar.js"></script>
<body>
    
    <div id="cabecalho">
        <a href="../views/principal.html"><img src="../images/icon_arrow_back.png"></a>
        <h2>Exercicios</h2>
        
    </div>

    <div id="tl_exercicios">

        <div id="opcoes_exercicios">
            <div  id="e_est" class="opcoes_exercicios_ativada"><p>Estrutura de repetição</p></div>
            <div id="e_td"><p>Tomada de decisão</p></div>
        </div>

        <div id="cx_exercicios">
            
            <div id="cx_exercicios_est" class="cx_exercicios_class">

                <div class="subOpcao">
                    <p>exemplo 1</p> 
                    <div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente labore sed aperiam ducim
                        us reprehenderit? Enim laudantium veritatis distinctio iure. Optio, ipsum quia.
                         Accusamus rerum magni repudiandae ratione nulla amet.</p></div> 
                </div>
                <div class="subOpcao">
                    <p>exemplo 1</p> 
                    <div></div> 
                </div>
                <div class="subOpcao">
                    <p>exemplo 1</p> 
                    <div></div> 
                </div>
                <div class="subOpcao">
                    <p>exemplo 1</p> 
                    <div></div> 
                </div>
                
            </div>
    
            <div id="cx_exercicios_tom" class="cx_exercicios_class">
                <div class="subOpcao">
                    <p>exemplo 1</p> 
                    <div></div> 
                </div>
                <div class="subOpcao">
                    <p>exemplo 1</p> 
                    <div></div> 
                </div>
                <div class="subOpcao">
                    <p>exemplo 1</p> 
                    <div></div> 
                </div>
            
            </div>

        </div>

        

    </div>
</body>
<script src="../js/_js-exercicios.js"></script>
</html>