<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Material</title>
    <link rel="stylesheet" href="../css/_css-Default.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/_css-material.css">
</head>
<script src="../js/_js-autenticar.js"></script>
<body>

    <div id="cabecalho">
        <a href="../views/principal.html"><img src="../images/icon_arrow_back.png"></a>
        
        <h2>Material</h2>
        
    </div>



    <div id="fd_flex">
        <div id="menu">
            <div id="opcoes">
                <ul>
                    <li id="first_opcoes">Estrutura de repetição <img id="arrow_drop" src="../images/icon_ex.png"></li>
                    <div class="sub_opcoes" id="m_est">
                        <ul>
                            <li>Est 1</li>
                            <li>Est 1</li>
                            <li>Est 1</li>
                            <li>Est 1</li>
                            <li>Est 1</li>
                            <li>Est 1</li>
                        </ul>
                    </div>
                    <li value="1" id="first_opcoes">Tomada de decisão <img id="arrow_drop" src="../images/icon_ex.png"></li>
                    <div class="sub_opcoes" id="m_td">
                            <ul>
                                <li>Est 1</li>
                                <li>Est 1</li>
                                <li>Est 1</li>
                                <li>Est 1</li>
                                <li>Est 1</li>
                                <li>Est 1</li>
                            </ul>
                        </div>
                </ul>
                <div><a href="#">ir para exercicios</a></div>    
            </div>
            
        </div>
        <div id="tela">
            <h1>Exemple</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Temporibus qui quo vitae blanditiis vel reiciendis excepturi voluptate, consectetur quae,
                 quibusdam facilis at corporis quia culpa tempora adipisci. Eaque, esse culpa?</p>
        </div>
    </div>




</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/_js-material2.js"></script>
</html>