<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7BOT - Principal</title>
    <link rel="stylesheet" href="../css/_css-Default.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="../css/_css-principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- <script src="../js/_js-autenticar.js"></script> -->
<script>

</script>
<body>
    <div id="cabecalho">
        <h2>Bem vindo usuario</h2>

        <div id="cx_effect">
            <button  id="btn-conf"><i class="fa fa-gear"></i></button>
            <div id="cx_effect_drop">
                <a href="javascript:void" id="config_usuario">Configurações</a>
                <a href="../deslogar">Sair</a>
            </div>
        </div>
    </div>
        
        
    <div id="exp_txt">
        <p>O 7Bot vem auxiliar os alunos com uma plataforma</p>
        <p>simples, agil e eficaz experimente!</p>
    </div>

    <div id="flex-container">
        <div class="cx_cont" id="m">
            <img src="../images/material.jpg" alt="">
            <p>Material</p>
        </div>

        <div class="cx_cont" id="c">
            <img src="../images/exercicios.jpg" alt="">
            <p>Exercicios</p>
        </div>
    </div>
    <div id="fundo">

        <div id="tela">

            <form action="action" method="post" id="frm_atr">
                <p>
                    Nome
                    <input type="text" name="nome">
                </p>
                <p>
                    Email
                    <input type="email" name="email">
                </p>
                <p>
                    Senha atual
                    <input type="password" name="senhaAtual">
                </p>
                <p>
                    Nova senha
                    <input type="password" name="novaSenha">
                </p>

                <button>Atualizar</button>
            </form>

        </div>

    </div>

</body>
<script src="../js/_js-principal.js"></script>
<script src="../js/_js-cabecalho.js"></script>

</html>